@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
	--primary: #7C444F;
	--secondary: #9F5255;
	--third: #E16A54;
	--forth: #F39E60;
}

body {
	margin: 0;
}

.app {
	font-family: "Rubik", serif;
	font-optical-sizing: auto;
	background-color: var(--secondary);

}